<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>CleanupServlet</servlet-name>
        <servlet-class>com.apps.horcu.mootz.routerSvc.CleanupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CleanupServlet</servlet-name>
        <url-pattern>/cleanup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.apps.horcu.mootz.routerSvc.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatorServlet</servlet-name>
        <servlet-class>com.apps.horcu.mootz.routerSvc.CreatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatorServlet</servlet-name>
        <url-pattern>/creator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DestroyerServlet</servlet-name>
        <servlet-class>com.apps.horcu.mootz.routerSvc.DestroyerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DestroyerServlet</servlet-name>
        <url-pattern>/destroyer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>